 <style>
        body{background-color:rgb(230, 193, 213);
            font-family:monospace;
            font-weight:bold;
            font-style:italic;
            
        }
         .quote { font-style:italic;
            text-align:center;
            color:rgb(34, 43, 204); 
             font-size:19px;
         }
            
        h1{color:rgb(8, 133, 87);
        font-family:sans-serif;
            text-decoration:underline;
            text-align:center;
        }
        h2{color:rgb(128, 4, 4);
            font-family:sans-serif;
            text-decoration:underline;
             text-align:center;
        }
        h3{color:rgb(14, 39, 115);
        text-decoration:underline;
        font-family:sans-serif;
         text-align:center;
         font-size:13px;
            
        }
        table{color:rgb(77, 10, 56);
            line-height:1.5em;
        }
        table{background-color:rgb(207, 210, 230);}
        
        #el-mejor-programa{color:rgb(0, 0, 0);}
    </style>
